input[type="number"]::-webkit-inner-spin-button, 
    input[type="number"]::-webkit-outer-spin-button {
      opacity: 1;
      transform: rotate(180deg); /* Flip the arrows */
    }
   

    form {
      width: 700px;
      margin: 40px auto;
    }

    fieldset {
      background-color: #fdf4bf;
      border: 2px solid #0e0a0a;
      
     
      width: 100%;
      box-sizing: border-box;
     
    }

    legend {
      font-weight: bold;
    }

    label {
      display: inline-block;
      width: 130px;
      vertical-align: top;
      margin-bottom: 10px;
      text-align: center;
    } 

    input[type="submit"] {
      display: block;
      margin: 30px auto 0;      
      font-size: 16px;
    }

    